// :host {
//     ion-content {
//         --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
//     }
// }
// ion-select {
//     /* Applies to the value and placeholder color */
//     color: #262c64;
//     /* Set a different placeholder color */
//     --placeholder-color: #7f1e97;
//     /* Set full opacity on the placeholder */
//     --placeholder-opacity: 1;
//     size: 9px;
//     width: 100%;
//     justify-content: center;
// }
ion-select {
    /* Applies to the value and placeholder color */
    color: #545ca7;
    /* Set a different placeholder color */
    --placeholder-color: #971e49;
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
    size: 9px;
    width: 100%;
    justify-content: center;
}
